extends layout

block content
    h1= title
    - let houseplantid = toShow._id
    - let scientific_name = toShow.scientific_name
    - let common_name = toShow.common_name
    - let difficulty = toShow.difficulty
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{houseplantid}
    - let actionid = "/resource/houseplants/" + houseplantid
    form(id='HouseplantForm', action= actionid, method="PUT")
        div.form-group
            label.houseplantAttr(for='scientific_name') Houseplant Scientific Name
            input#scientific_name(type='text', name='scientific_name', value= scientific_name )
        div.form-group
            label.houseplantAttr(for='common_name') Houseplant Common Name
            input#common_name(type='text', name='common_name', value= common_name )
        div.form-group
            label.houseplantAttr(for='difficulty') Houseplant Difficulty
            input#common_name(type='number', name='difficulty', value= difficulty )
        input(type="submit")
    script.
        document.forms['HouseplantForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });
