extends layout

block content
  h1= title
  -
    var houseplants = results
  .container-fluid
    .row
      each value in houseplants
        .col-sm-2
          div
            p Scientific Name: #{value.scientific_name}
            p Common Name: #{value.common_name}
            p Difficulty: #{value.difficulty}